#OauthButton {
  background-color: #9370DB;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#OauthButton:hover {
  background-color: #9683EC	;
}

#sign-out-footer {
  background-color: #9370DB;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  display: block;
}

#sign-out-footer:hover {
  background-color: #9683EC;
  cursor: pointer;
}

#sign-out-footer-label {
  vertical-align: middle;
  color: white;
}

#sign-out-footer-label:hover {
  color: white;
  cursor: pointer;
}

#add-button {
  background-color: #9370DB;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  box-shadow: 1px 1px 2px #9370DB;
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
}

#add-button:hover {
  background-color: #9683EC;
  box-shadow: none;
}

#App-add-form {
  background-color: #9370DB;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  padding: 4px 10px;
}

li {
  list-style-type: none;
}

.App-service {
  border: 2px black;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 1px 2px black;
  text-align: center;
}

.App-service-list-item {
  display: inline-block;
}

.App-service-list {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 2px black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
}

.App-remove-widget-button {
  background-color: #db1b4a;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 1px 1px 2px #9c1a39;;
}

.App-remove-widget-button:hover {
  box-shadow: none;
}

.App-weather-widget {
  border: 2px black;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 1px 2px black;
  text-align: center;
}

.App-github-user-widget {
  border: 2px black;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 1px 2px black;
  text-align: center;
}

.App-github-repos-widget {
  border: 2px black;
  margin: 5px;
  padding: 10px;
  box-shadow: 1px 1px 2px black;
  text-align: center;
}

.App-widget-list {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border: 2px black;
  border-radius: 10px;
  box-shadow: 1px 1px 2px black;
}

.App-widget-list-item {
  display: inline-block;
}
